# ---------------------
# Python
# ---------------------
__pycache__/

# ---------------------
# IDEs and Editors
# ---------------------
.vscode/      

# ---------------------
# Logs and Output
#
# These directories are kept in Git for structure, but their
# contents are ignored as they are generated during runtime.
# ---------------------
# Ignore all contents of the logs directory
experiments/logs/**
!experiments/logs/.gitkeep
!experiments/logs/demo/
!experiments/logs/demo/** 

experiments/hpc_logs/**
!experiments/hpc_logs/.gitkeep

experiments/checkpoints/**
!experiments/checkpoints/.gitkeep
!experiments/checkpoints/demo/
!experiments/checkpoints/demo/** 

outputs/** 
!outputs/.gitkeep

# ---------------------
# Data
# ---------------------
data/**
!data/.gitkeep
!data/demo/
!data/demo/**

# ---------------------
# Scripts
# ---------------------
scripts/hpc_scripts.py

# ---------------------
# Scratch source files
# ---------------------
src/scratchpad.py